<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>department</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20
							<br />
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Welcome!
					</h1>
					<table class="table">
						<tr class="table_header">
							<td>
								ID
							</td>
							<td>
								Name
							</td>
							<td>
								note
							</td>
							<td>
								Operation
							</td>
						</tr>
                        {% for i in list1 %}
                        {% if i.id|divisibleby:'2'%}
						<tr class="row1">
							<td>
								{{ i.id }}
							</td>
							<td>
								{{ i.name }}
							</td>
							<td>
								{{ i.note }}
							</td>
							<td>
								<a href="{% url 'bm:xq' %}?id={{ i.id }}">详情</a>
								<a href="{% url 'bm:dgxjm' %}?id={{ i.id }}">update</a>
							</td>
						</tr>
                        {% else %}
                            <tr class="row2">
							<td>
								{{ i.id }}
							</td>
							<td>
								{{ i.name }}
							</td>
							<td>
								{{ i.note }}
							</td>
							<td>
								<a href="{% url 'bm:xq' %}?id={{ i.id }}">详情</a>
								<a href="{% url 'bm:dgxjm' %}?id={{ i.id }}">update</a>
							</td>
						</tr>
						{% endif %}
                        {% endfor %}
					</table>
					<p>
						<input type="button" class="button" value="Add Department" onclick="location='{% url 'bm:dtjym' %}'"/>
					</p>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
