<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>emplist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20
							<br />
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						{{ D_name.name }}
					</h1>
					<table class="table">
						<tr class="table_header">
							<td>
								ID
							</td>
							<td>
								Name
							</td>
							<td>
								Salary
							</td>
							<td>
								Age
							</td>
							<td>
								Operation
							</td>
						</tr>
                        {% for user in user1 %}
						<tr class="row1">
							<td>
								{{ user.id }}
							</td>
							<td>
								{{ user.name }}
							</td>
							<td>
								{{ user.salary }}
							</td>
							<td>
								{{ user.age }}
							</td>
							<td>
								<a href="{% url 'gl:sc' %}?id={{ user.id }}">delete emp</a>&nbsp;<a href="{% url 'gl:gx' %}?id={{ user.id }}">update emp</a>
							</td>
						</tr>
                        {% endfor %}
{#						<tr class="row2">#}
{#							<td>#}
{#								2#}
{#							</td>#}
{#							<td>#}
{#								lishi#}
{#							</td>#}
{#							<td>#}
{#								20000#}
{#							</td>#}
{#							<td>#}
{#								20#}
{#							</td>#}
{#							<td>#}
{#								<a href="emplist.html">delete emp</a>&nbsp;<a href="updateEmp.html">update emp</a>#}
{#							</td>#}
{#						</tr>#}
					</table>
					<p>
						<input type="button" class="button" value="Add Employee" onclick="location='{% url 'bm:tjyg' %}?id={{ D_name.id }}'"/>
					</p>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
