<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <style>
        form{
            border: 1px solid blue;
            height: 500px;
            width: 600px;
            text-align: center;
            margin: auto;

            }
    </style>
</head>
<body>
<h1 style="text-align: center">用户查询</h1>
    <form>
        <p>id：<input type="text" value="{{ id }}"></p>
        <p>name：<input type="password" value="{{ name }}"></p>
        <input type="button" value="下一个用户">
    </form>

</body>
</html>